[menu]
start = "id-1"
activeNode = 0
listItemClasses = "nav-item"
primaryClasses = "navbar-nav"
secondaryClasses = "dropdown-menu"
numberOfLevels = 2

[jumbotron]
jumbotron = "intro"
background = "transperant"
templates = "template1"
description_limit = 0

[menu login]
start = "id-27"
activeNode = "id-25"
listItemClasses = "item"
primaryClasses = "nav nav-pills"
secondaryClasses = "dropdown-menu"
numberOfLevels = 2
==

<nav class="pr-1 pl-1 navbar fixed" id="headernavbar" role="navigation" aria-label="Main navigation">
    <div id="menuToggle">
        <input type="checkbox" id="mobile-menu-toggle" aria-label="Toggle mobile menu" aria-expanded="false" aria-controls="headerNavbarNav" />
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        {% component 'menu' %}
    </div>

    <a href="{{'home'|page}}" class="navbar-brand" aria-label="Homepage - {{site_name}}" style="background: url('{{ this.theme.site_logo.getPath() }}') center no-repeat; background-size: contain;">
        <span class="sr-only">{{site_name}} - Home</span>
    </a>

    <div class="navbar-collapse collapse center-xs" id="headerNavbarNav" role="menu" aria-hidden="true" style="display: none;">
        {% component 'menu' %}
    </div>

    <div id="google_translate_element" aria-label="Google Translate"></div>
</nav>

<main id="main-content" role="main">
    {% if this.theme.header_image and page_id != 'search' %}
    <header class="header-image {{page_id}}" role="banner">
        {% if page_id != 'search' %}
        {% if page_id == 'home' %}
        <div class="header-image-bar" style="background-image: url('{{this.theme.header_image.getPath()}}'); background-position: left center;" role="img" aria-label="Header background image">
            <div class="container jumbotron">
                <div class="container">
                    <div class="intro hero">
                        <h1 id="page-title">{{tag_line|raw}}</h1>
                    </div>
                </div>
                <div class="container about_info">
                    <div class="row between-md around-xs">
                        <div class="col-md-4 col-xs-12 start-md around-xs info_and_btn" data-aos="fade-up">
                            <p>Multilevel governance pathways for ensuring efficient transitions in times of crises</p>
                            <a href="/about" class="learn_more" aria-label="Learn more about multilevel governance pathways">Learn more</a>
                        </div>
                        <div class="col-md-8 col-xs-12 end-md around-xs btns" data-aos="fade-up" role="group" aria-label="Topic categories">
                            <div class="about_btn" role="button" tabindex="0" aria-label="Multilevel governance topic">Multilevel governance</div>
                            <div class="about_btn" role="button" tabindex="0" aria-label="Twin transition topic">Twin transition</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="header-image-bar" style="background-image: url('{{this.theme.header_image.getPath()}}'); background-position: left center;" role="img" aria-label="Page header background image">
            <div class="jumbotron hero">
                {% if page_id != 'home' and page_id != 'search' %}
                <h1 class="underline white" id="page-title">
                    {%if page_title%} {{page_title}} {%else%} {{site_name}} {%endif%}
                </h1>
                {%endif%}
            </div>
        </div>
        {%endif%}
        {%endif%}
    </header>
    {% endif %}
</main>
